Flask==2.3.3
flask-cors==4.0.0
flask-jwt-extended==4.5.3
google-cloud-bigquery==3.11.4
google-cloud-secret-manager==2.16.1
google-cloud-storage==2.10.0
gunicorn[gevent]==21.2.0
bcrypt==4.0.1
anthropic==0.7.8
python-dotenv==1.0.0
jsonschema==4.19.1
werkzeug==2.3.7
PyPDF2==3.0.1
requests==2.31.0
markdown==3.5.1
